[submodule "AndroidArt"]
	path = AndroidArt
	url = https://github.com/2017398956/AndroidArt.git
[submodule "KotlinBasic"]
	path = KotlinBasic
	url = https://github.com/2017398956/KotlinBasic.git
[submodule "2017398956"]
	path = 2017398956
	url = https://github.com/2017398956/2017398956.git
	